* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.main-container{
    display: flex;
}
.art_list{
    flex-wrap: wrap;
    display: flex;
    width: 80%;
}
.art_list ul {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
}
.art_list li{
    margin:0.5em;
    padding: 1em;
    /*position: relative;*/
    /*display: flex;*/
}
.art_list_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 25%;
    border: 1px solid black;
    border-radius: 10%;
}
.art_list_item p{
    /*justify-content: auto;*/

}

.art_item_prop_title{
    padding-left: 0.5em;
}
.art_name{

}
.art_color_list{
    flex-direction: row;

}
.art_price{
    width: 100%;
    flex-direction: row;
    display: inline-flex;
}
.art_cart_btn{
    display: flex;
    height: 10%;
    align-items: flex-end;
}
@media only screen and (max-width: 768px) {

  .lista_vista {
    flex-direction: column;
    justify-content: center;
    margin: auto;

}

.lista_vista article{
    display: inline-block;
    width: 50%;
    justify-content: center;
}
}
