.header{
    width:100%;
    height:17vh;
    display: flex;
}
.header-in{
    display: flex;
    height: 15vh;
    /*align-content:stretch;*/
    align-items: center;
    justify-content: space-between;
    /*border-bottom: solid black 1px;*/
}
.header h1{
    color:brown;
}
#logout{
    width: 30%;
}
.goToProfile{
    width: 20%;
}
.welcome{
    width: 55%;
}
#logo{
    width: 15%;
    height: 10vh;
}
#login{
    width:50%;
    height:22vh;
    /*display: inline-flex;*/
    align-items: flex-end;
    justify-content: flex-end;


}
#login a{
     text-decoration: none;
     font-family: arial;
     color: black;
}
#search{
    display: inline-flex;
    align-items: center;
    padding-top: 6vh;

}
#search button{
    width: 25%;
}
#search input{
    width: 70%;
}
.glyphicon{
    background: #000;
}
.login-cart{
    display: flex;
    display: inline-flex;
    padding-top: 1vh;
}
.login-cart a{
    display: inline-flex;
}
.login-cart span{
    width: 20%;
    color:white;
    background-color: black;

}
.login-cart i{
    width: 60%;
}
@media only screen and (min-width: 320px) and (max-width: 479px){
    .header{
        height: 15vh;
    }
    .header-in{
        align-items: flex-start;
        padding-top: 2vh;
    }
    .login-cart{
        padding-top: 1vh;
    }
    #logo{
        width: 48%;
    }
    #search{
        padding-top: 0;
    }
}
