@import url('header.css');
@import url('nav.css');
@import url('body.css');
@import url('art_view_new.css');
@import url('form_contact_estilos.css');
@import url('shoppingCart.css');
@import url('faq.css');
@import url('user_profile.css');
@import url('art_list_new.css');
@import url('user_list.css');
@import url('user_profile_edit.css');
@import url('product_edit.css');
@import url('register.css');
@import url('footer.css');
@import url('dropzone.css');
@import url('dropzone.min.css');
@import url('basic.css');//dropzone

*{
    width:100%;
    padding: 0 ;
    margin: 0 auto;
    box-sizing:border-box;
    /*height:auto;*/

}
#title{
    display: no
}
h1{
    font-size: 3em;

}
