/*USERS*/

h1{
    text-align: center;
}
.user_list_titles{
    width: 55%;
    background-color: black;
    color:white;
    display: flex;
    /*justify-content: center;*/
    height: 2%;

}
.user_list_titles p{
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1.5em;
    margin: 0 0.5em;
}
.user_list_row{
    width: 50%;
    margin:auto;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0em;
    align-items: flex-start;
}
.user_list_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    color:black;
    align-items: center;
}


/*CATEGORIES*/


.category_list_row{
    width: 50%;
    margin:auto;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0em;
    align-items: flex-start;
}
hr{
 width: 50%;
    margin:auto;
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    align-items: flex-start;
}
.category_list_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    color:black;
    align-items: center;
}
.id{
    width: 15%;
}
.category_list_item i{
    display: flex;
    justify-content: center;
}
.category_add{
    color:black;
    display: flex;
    padding-top: 1vh;
    width: 20%;

}
.category_add:hover{
    color:grey;
    text-decoration: none;
}
.category-search{
    color: #fff;
    background-color: black;
    border-color: black;
    border-radius: 0;
    margin-bottom: 1%;
    margin-top: 2%;
    width: 10%;
}
.category-search:hover{
    color: #fff;
    background-color: grey;
    border-color: grey;
}
.category-search-box{
    width: 30%;
    margin-bottom: 1%;
    margin-top: 2%;

}
.category-search-group{
    display: flex;
    width: 70%;
    margin:auto;
    justify-content: space-around;
}
.category-search-form{
    flex-wrap: wrap;
    box-sizing: border-box;
    margin:auto;
    display:flex;
    width: 70%;
    height: 2%;

}
.category_list_link{
  color: black;
  background-color: white;
  margin-left: 2%;
  text-align: center;
  margin-top: 2%;
}
.category_list_link:hover {
  color: grey;
  text-decoration:underline;
}
.category_form_footer{
    display: flex;
    flex-direction: column;
}
.category_list_item_not_active{
    color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    align-items: center;
}


/*COLORES*/


.color_list p{
    display: flex;
    flex-direction: column;
}
.color_list_row{
    width: 50%;
    margin:auto;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0em;
    align-items: flex-start;
}
.color_list_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    color:black;
    align-items: center;
}
.id{
    width: 15%;
}
.color_list_item i{
    display: flex;
    justify-content: center;
}
.color_add{
    color:black;
    display: flex;
    padding-top: 1vh;
    width: 20%;

}
.color_add:hover{
    color:grey;
    text-decoration: none;
}
.color-search{
    color: #fff;
    background-color: black;
    border-color: black;
    border-radius: 0;
    margin-bottom: 1%;
    margin-top: 2%;
    width: 10%;
}
.color-search:hover{
    color: #fff;
    background-color: grey;
    border-color: grey;
}
.color-search-box{
    width: 30%;
    margin-bottom: 1%;
    margin-top: 2%;

}
.color-search-group{
    display: flex;
    width: 70%;
    margin:auto;
    justify-content: space-around;
}
.color-search-form{
    flex-wrap: wrap;
    box-sizing: border-box;
    margin:auto;
    display:flex;
    width: 70%;
    height: 2%;

}
.color_list_link{
  color: black;
  background-color: white;
  margin-left: 2%;
  text-align: center;
  margin-top: 2%;
}
.color_list_link:hover {
  color: grey;
  text-decoration:underline;
}
.color_form_footer{
    display: flex;
    flex-direction: column;
}
.color_list_item_not_active{
    color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    align-items: center;
}

/*SIZES*/


.size_list p{
    display: flex;
    flex-direction: column;
}
.size_list_row{
    width: 50%;
    margin:auto;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0em;
    align-items: flex-start;
}
.size_list_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    color:black;
    align-items: center;
}
.id{
    width: 15%;
}
.size_list_item i{
    display: flex;
    justify-content: center;
}
.size_add{
    color:black;
    display: flex;
    padding-top: 1vh;
    width: 20%;

}
.size_add:hover{
    color:grey;
    text-decoration: none;
}
.size-search{
    color: #fff;
    background-color: black;
    border-color: black;
    border-radius: 0;
    margin-bottom: 1%;
    margin-top: 2%;
    width: 10%;
}
.size-search:hover{
    color: #fff;
    background-color: grey;
    border-color: grey;
}
.size-search-box{
    width: 30%;
    margin-bottom: 1%;
    margin-top: 2%;

}
.size-search-group{
    display: flex;
    width: 70%;
    margin:auto;
    justify-content: space-around;
}
.size-search-form{
    flex-wrap: wrap;
    box-sizing: border-box;
    margin:auto;
    display:flex;
    width: 70%;
    height: 2%;

}
.size_list_link{
  color: black;
  background-color: white;
  margin-left: 2%;
  text-align: center;
  margin-top: 2%;
}
.size_list_link:hover {
  color: grey;
  text-decoration:underline;
}
.size_form_footer{
    display: flex;
    flex-direction: column;
}
.size_list_item_not_active{
    color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    align-items: center;
}

/*PRODUCTS*/
.product_list_titles p{
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1.5em;
    margin: 0 0.5em;
}

.product_list p{
    display: flex;
    flex-direction: column;
}
.product_list_row{
    width: 70%;
    margin:auto;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0em;
    align-items: flex-start;
}
.product_list_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    color:black;
    align-items: center;
}
a.product_list_item {
    width: 25%;
}
.eae{
    width:5%;
}
.id{
    width: 15%;
}
.product_list_item i{
    display: flex;
    justify-content: center;
}
.product_add{
    color:black;
    display: flex;
    padding-top: 1vh;
    width: 20%;

}
.product_add:hover{
    color:grey;
    text-decoration: none;
}
.product-search{
    color: #fff;
    background-color: black;
    border-color: black;
    border-radius: 0;
    margin-bottom: 1%;
    margin-top: 2%;
    width: 10%;
}
.product-search:hover{
    color: #fff;
    background-color: grey;
    border-color: grey;
}
.product-search-box{
    width: 30%;
    margin-bottom: 1%;
    margin-top: 2%;

}
.product-search-group{
    display: flex;
    width: 70%;
    margin:auto;
    justify-content: space-around;
}
.product-search-form{
    flex-wrap: wrap;
    box-sizing: border-box;
    margin:auto;
    display:flex;
    width: 70%;
    height: 2%;

}
.product_list_link{
  color: black;
  background-color: white;
  margin-left: 2%;
  text-align: center;
  margin-top: 2%;
}
.product_list_link:hover {
  color: grey;
  text-decoration:underline;
}
.product_form_footer{
    display: flex;
    flex-direction: column;
}
.product_list_item_not_active{
    color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    align-items: center;
}

p .price{
    width: 10%

}
