h1{
    text-align: center;
}
.user_list_titles{
    width: 55%;
    background-color: black;
    color:white;
    display: flex;
    /*justify-content: center;*/
    height: 2%;

}
.user_list_titles p{
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1.5em;
    margin: 0 0.5em;
}
.user_list_row{
    width: 50%;
    margin:auto;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0em;
    align-items: flex-start;
}
.user_list_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    color:black;
    align-items: center;
}

.category_list_row{
    width: 50%;
    margin:auto;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0em;
    align-items: flex-start;
}
hr{
 width: 50%;
    margin:auto;
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    align-items: flex-start;
}
.category_list_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    color:black;
    align-items: center;
}
.category_list_item i{
    display: flex;
    justify-content: center;
}
.category_add{
    color:black;
    display: flex;
    padding-top: 1vh;
    width: 20%;

}
.category_add:hover{
    color:grey;
    text-decoration: none;
}
.category-search{
    color: #fff;
    background-color: black;
    border-color: black;
    border-radius: 0;
    margin-bottom: 1%;
    margin-top: 2%;
    width: 10%;
}
.category-search:hover{
    color: #fff;
    background-color: grey;
    border-color: grey;
}
.category-search-box{
    width: 30%;
    margin-bottom: 1%;
    margin-top: 2%;

}
.category-search-group{
    display: flex;
    width: 70%;
    margin:auto;
    justify-content: space-around;
}
.category-search-form{
    flex-wrap: wrap;
    box-sizing: border-box;
    margin:auto;
    display:flex;
    width: 70%;
    height: 2%;

}
.categoty_list_link{
  color: black;
  background-color: white;
  margin-left: 2%;
  text-align: center;
  margin-top: 2%;
}
.categoty_list_link:hover {
  color: grey;
  text-decoration:underline;
}
.category_form_footer{
    display: flex;
    flex-direction: column;
}
.category_list_item_not_active{
    color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0.5em;
    height:1%;
    align-items: center;
}


