.user_profile_container {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

}

.user_profile {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;


}

.user_profile_gr {
    display: flex;
    width: 100%;
    height: 60vh;
    padding: 2%;
    justify-content: flex-start;


}

.user_profile_form_datos {

    width: 15%;
    height: 60vh;
}

.user_profile_datos {

    width: 35%;
    height: 60vh;

}

.user_profile_form_datos p {

    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: black;
    width: 75%;
    height: 10%;
    text-align: justify;

}

.user_profile_datos p {
    background-color: white;
    color: black;
    width: 130%;
    height: 10%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;


}

.user_profile_botton {

    position: absolute;
    width: 20%;
    margin-left: 70%;
    margin-top: 1%;
    padding: 10px;


}

.user_profile_btn_editar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: auto;
    text-align: center;
    width: 80%;
    height: 7vh;
    background-color: grey;
    color: white;

}

.user_profile_btn_salvar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 80%;
    height: 7vh;
    background-color: grey;
    color:white;

}

.user_profile_btn_salvar p {
    margin-bottom: 35px;
}

.user_profile_avatar {
    width: 40%;
    margin-top: 13%;

}
.user_profile_avatar img{
    border-radius: 100%;
}